<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .registration-box {
        width: 100%;
        max-width: 400px;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: #343a40;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body class="bg-dark">
    <div class="registration-box text-white">
      <h2 class="text-center mb-4">Registracija</h2>
      <form method="POST" id="registrationForm">
        <div class="row justify-content-center">
          <div style="display: none" id="errorContainer"></div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label d-flex"
            >Vardas
            <div style="display: none" id="name_error"></div
          ></label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label d-flex"
            >Pavardė
            <div style="display: none" id="lastname_error"></div
          ></label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            required
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label d-flex text-nowrap"
            >Prisijungimo vardas
            <div style="display: none" id="username_error"></div
          ></label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label d-flex text-nowrap"
            >Telefono numeris
            <div style="display: none" id="phone_number_error"></div
          ></label>
          <input
            type="tel"
            class="form-control"
            id="phone_number"
            name="phone_number"
            pattern="\+[0-9]{11}"
            placeholder="+370xxxxxxxx"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label d-flex"
            >El. paštas
            <div style="display: none" id="email_error"></div
          ></label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label d-flex"
            >Slaptažodis
            <div style="display: none" id="password_error"></div
          ></label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="8"
            required
          />
          <small class="form-text text-white"> Min. 8 simboliai </small>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Registruotis</button>
        </div>
      </form>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/registrationFormValidation.js"></script>
  </body>
</html>
